form {
  position: fixed;
  bottom: 0;
  width: 100%;
}
form input {
  width: 90%;
}
#submitButton {
  width: 9%;
}
.time {
  color: red;
  font-family: "Ubuntu";
  text-align: right;
}

.message {
  display: inline;
}
#messages {
    height: 90%;
    overflow-y:scroll;
    list-style-type: none;
}
.me {
  font-family: sans-serif, "Courier New", Courier, monospace;
  text-align: right;
}
.you {
  font-family: sans-serif, "Courier New", Courier, monospace;
  text-align: left;

}
.yourDiv {
  position: relative;
  right: 10;
  width: 50%;
  background-color: blue;
  color: white;
  margin-bottom: 60px;
}
.myDiv {
  position: relative;
  left: 40%;
  width: 50%;
  background-color: violet;
  margin-bottom: 60px;
}
